{% extends 'header.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}


<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/images/inscription.jpg);"
    data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1>Index de formations</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 mb-5">

                <p>
                    <a class="btn btn-primary" href="{{ path('admin_formation_index') }}">Toutes les formations</a>
                    <a class="btn btn-primary" href="{{ path('admin_formation_index_non_accepte') }}">Formations non
                        accepte</a>
                </p>


                <table class="table">
                    <thead>
                        <tr>
                            <th>Organisation</th>
                            <th>Nom</th>
                            <th>Diplôme</th>
                            <th>Perspective</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Numero de téléphone</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Nombre d'inscrits</th>
                            <th>Confirmer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formation in formations %}
                        <tr>
                            {% if formation.organization.name is defined  %}
                            <td>{{ formation.organization.name }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ formation.name }}</td>
                            <td>{{ formation.diplome.name }}</td>
                            <td>{{ formation.perspective }}</td>
                            <td>{{ formation.address }}</td>
                            <td>{{ formation.city }}</td>
                            <td>{{ formation.phoneNumber }}</td>
                            <td>{{ formation.date ? formation.date|date('Y-m-d') : '' }}</td>
                            <td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
                            <td>{{ formation.inscrits|length }}</td>
                            {% if formation.confirmer == FALSE %}
                            <td>
                                <a type="button" class="btn btn-success" href="{{ path('admin_formation_accept', {'id': formation.id}) }}">Accepter</a>
                                <a type="button" class="btn btn-danger" href="{{ path('admin_formation_delete', {'id': formation.id}) }}">Reffuser</a>
                            </td>       
                            {% else %}
                                <td>{{ formation.confirmer ? 'Oui' : 'Non' }}</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('admin_formation_show', {'id': formation.id}) }}">Voir</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="14">pas de formation</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    {% endblock %}